@import url(menu.css);
@import url(banner.css);

body{
    background-image: url(../imagen/hotel3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}